--- src/octoprint/templates/dialogs/settings.jinja2.orig	2017-12-12 11:42:40 UTC
+++ src/octoprint/templates/dialogs/settings.jinja2
@@ -8,7 +8,7 @@
             <div class="tabbable row-fluid">
                 <div class="span3 scrollable" id="settings_dialog_menu">
                     <ul class="nav nav-list" id="settingsTabs">
-                        {% set mark_active = True %}
+                        {% set mark_active = [True] %}
                         {% for key in templates.settings.order %}
                             {% set entry, data = templates.settings.entries[key] %}
                             {% if data is none %}
@@ -17,7 +17,7 @@
                                 {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
                                 <li id="{{ data._div }}_link"
                                     {% if "data_bind" in data %}data-bind="{{ data.data_bind }}"{% endif %}
-                                    class="{% if mark_active %}active{% set mark_active = False %}{% endif %} {% if "classes_link" in data %}{{ data.classes_link|join(' ') }}{% elif "classes" in data %}{{ data.classes|join(' ') }}{% endif %}"
+                                    class="{% if mark_active[0] %}active{% do mark_active.pop() %}{% do mark_active.append(False) %}{% endif %} {% if "classes_link" in data %}{{ data.classes_link|join(' ') }}{% elif "classes" in data %}{{ data.classes|join(' ') }}{% endif %}"
                                     {% if "styles_link" in data %} style="{{ data.styles_link|join(', ') }}" {% elif "styles" in data %} style="{{ data.styles|join(', ') }}" {% endif %}
                                         >
                                     <a href="#{{ data._div }}" data-toggle="tab">{{ entry|e }}</a>
@@ -28,7 +28,7 @@
                     </ul>
                 </div>
                 <div class="tab-content span9 scrollable" id="settings_dialog_content">
-                    {% set mark_active = True %}
+                    {% set mark_active = [True] %}
                     {% for key in templates.settings.order %}
                         {% set entry, data = templates.settings.entries[key] %}
                         {% if data is not none %}
